<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <File name="FileSystem" fileName="/home/serena/IdeaProjects/GL-Pro-Camp/SpringHibernate/target/logging.log">
            <PatternLayout pattern="%d [%t] %-5level: %msg%n%throwable" />
        </File>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="FileSystem"/>
        </Root>
    </Loggers>
</Configuration>